<div class="content-container">
  <h1>Foodie Delight</h1>
  <p>
    Foodie Delight is your ultimate guide to discovering the best dining
    experiences around you. Whether you’re looking for a cozy café, a fine
    dining restaurant, or a quick bite, our app has got you covered.
  </p>
</div>

<div class="contact-us-container">
  <h2>Contact Us</h2>

  <div class="contact-info">
    <p><strong>Email:</strong> support@fooddelight.com</p>
    <p><strong>Phone:</strong> +91-87029-36457</p>
    <p><strong>Address:</strong> 7, Spicy Food Street, Spice Town, India</p>
  </div>
</div>
