<h2 style="margin-left: 25px">
  {{ isEditMode ? "Edit Restaurant" : "Add New Restaurant" }}
</h2>
<form
  [formGroup]="restaurantForm"
  (ngSubmit)="onSubmit()"
  class="restaurant-form"
>
  <div class="form-fields">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required />
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Cuisine</mat-label>
      <input matInput formControlName="cuisine" required />
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Rating</mat-label>
      <input matInput type="number" formControlName="rating" required />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" required />
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Email (Optional)</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Website (Optional)</mat-label>
      <input matInput formControlName="website" />
    </mat-form-field>

    <div class="checkbox-field">
      <mat-checkbox formControlName="isOpen">Is Open</mat-checkbox>
    </div>
  </div>

  <div class="form-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="restaurantForm.invalid"
    >
      {{ isEditMode ? "Edit Restaurant" : "Add Restaurant" }}
    </button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
